@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-Medium-BF659b6cb1c14cb.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #fff;
  --font-custom: "Eudoxus Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-double {
  background: linear-gradient(87.24deg, #22293a 0.69%, #29344d 99.64%);
}
.bg {
  background: url("/assets/cashback/mask-group.png");
}

.bg-cashback{
  background: linear-gradient(87.24deg, rgba(66, 29, 104, 0.2), rgba(137, 28, 252, 0.2));
}

/* .owl-item.active.center .testimonial-card{
  padding: 50px 25px;
} */
.owl-theme .owl-dots .active span {
  background-color: #aa5aff !important;
  width: 24.43px !important;
}
.owl-theme .owl-dots .owl-dot span {
  margin: 5px 2px !important;
}
.owl-theme .owl-dots {
  position: absolute;
  width: 100%;
  bottom: -120px;
  left: 0;
}
