@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-Medium-BF659b6cb1c14cb.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #fff;
  --font-custom: "Eudoxus Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-double{
  background: linear-gradient(87.24deg, #22293A 0.69%, #29344D 99.64%);
}
.bg{
  background: url('/assets/cashback/mask-group.png');
}
/* .owl-item.active.center .testimonial-card{
  padding: 50px 25px;
} */